.active {
    font-weight: bold;
}

.header {
    text-decoration: none;
    background-color: #F3F3F3;
    margin-top: 0px;
    height: 32px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 4px;
    margin-top: 0px;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}