.active {
    font-weight: bold;
}

.header {
    background-color: #F3F3F3;
    margin-top: 0px;
    height: 40px;
    font-weight: 300;
    font-variation-settings: "wdth" 60;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 18px;
}

.nav-title {
    margin: 0;
}

.nav-list-other {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
    padding-right: 350px;
}

nav li a {
    text-decoration: none;
    color: black;
}