.active {
    font-weight: bold;
}

.header {
    text-decoration: none;
    background-color: #F3F3F3;
    margin-top: 0px;
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 18px;
}

.nav-title {
    margin: 0;
}

.nav-list-other {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li a {
    text-decoration: none;
    color: black;
}