.dashboard {
    max-width: 60%;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
}

.title-text {
    font-weight: 400;
}

.form-container {
    display: flex;
    gap: 8px;
    padding: 8px;
    background-color: #F8F8F8;
    max-width: 40%;
    margin: 16px;
}

.exercises-list {
    padding: 8px;
}

table {
    border-spacing: 8px;
}